= nav_bar :static => :top, :brand => "x.guru", :brand_link => '/' do
  .col-sm-3.col-md-3
    %form{:class => "navbar-form"}
      .form-group
        %input{:id=> "search", :class=> "form-control",  :placeholder=>"search", :type=>"text", :name=>"name"}